@using ComputerAccessoriesStore.WebUI.Models
@using ComputerAccessoriesStore.WebUI.HtmlHelpers
@using System.Security.Policy

@model ProductsListViewModel
@{
    ViewBag.Title = "Products";
}

<h3>Products</h3>

@foreach (var product in Model.Products)
{
    Html.RenderPartial("ProductSummary", product);
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>

